:root {
    --primary-color: #0066cc;
    --accent-color: #db0707;
    --background-color: #f0f0f0;
    --text-color: #333;
}   

html {
    font-size: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}