:root {
    --primary-color: #0a58a7;
    --accent-color: #db0707;
    --background-color: #f0f0f0;
    --text-color: #333;
}   

html {
    font-size: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    min-height: 100vh;
    margin: auto;
    padding: 1rem;
    border-left: 3px solid var(--primary-color);
    border-right: 3px solid var(--primary-color);
    color: var(--text-color);
    
}

header {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right:20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
}

figure {
    margin-top: 10px;
    text-align: center;
}

h2, h3 {
    color: var(--primary-color);
}

th, td, caption {
    border: 1px solid var(--primary-color) ;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
}

form {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 20px;
}

button :hover {
    background-color: var(--accent-color);
}

/* @media only screen and (max-width: 600px) {
    body {
        max-width: 100%;
        padding: 0.5rem;
        border: none;
    }

    header,
    footer {
        padding: 10px;
    }

    nav ul {
        text-align: center;
    }

    nav li {
        display: block;
        margin: 5px 0;
    }

    figure {
        margin-top: 10px;
    }

    main {
        padding: 10px;
    }
} */